
body {
    margin: 0;
    padding: 0;
    background-image: url(/images/slot-machine-background.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
}

#title h1 {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: double;
    border-color: rgb(174, 0, 255);
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(23, 61, 251);
    font-size: 3rem;
}

#winTable img {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
#winTable {
    position: fixed;
    top: 2%;
    right: 1%;
    border: 2px solid rgb(174, 0, 255);
    padding: 5px;
    border-radius: 10px;
    width: 18%;
}
#winTable span {
    font-size: 2rem;
    color: rgb(174, 0, 255);
    text-shadow: 2px 2px 4px rgb(23, 61, 251);
}

#money-bet {
    border: 2px solid rgb(174, 0, 255);
    position: fixed;
    width: 18%;
    height: 22%;
    padding: 5px;
    bottom: 20%;
    right: 1%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

#bet {
    display: flex;
    align-items: center;
}

#bet p {
    color: rgb(255, 255, 255);
}

#bet img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

#betBtn1, #betBtn2, #betBtn3 {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: background-color 0.3s ease;
}
#betBtn1:hover, #betBtn2:hover, #betBtn3:hover {
    background-color: #65bc69;
    border-radius: 5px;
    height: 70px;
}

#play {
    position: fixed;
    display: block;
    bottom: 4%;
    right: 3%;
}
#playBtn {
    display: block;
    width: 190px;
    height: 65px;
    background-color: rgb(37, 150, 9);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

#playBtn:hover {
    background-color: #65bc69;
}

#newGameBtn {
    position: fixed;
    display: block;
    width: 190px;
    height: 65px;
    background-color: rgb(37, 150, 9);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
    bottom: 4%;
    left: 3%;
}

#newGameBtn:hover {
    background-color: #65bc69;
}

#slot-machine {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.roll-line {
    display: flex;
    justify-content: center;
    align-items: center;
}
.roll-line img {
    width: 160px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
#roll1, #roll2, #roll3, #roll4 {
    margin: 10px;
    border-radius: 2px;
    border: 4px solid rgb(174, 0, 255);
    height: 180px;
    width: 160px;
    padding: 10px;
}

#lockButtons {
    position: fixed;
    display: flex;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    gap: 23px;
}

#lockBtn {
    cursor: pointer;
}

#lockButtons img {
    height: 150px;
    width: 150px;
    border-radius: 2px;
}


.winTextArea {
    position: fixed;
    display: flex;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(174, 0, 255);
    height: 50px;
    width: 50%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    color: rgb(255, 241, 39);
    font-size: 2rem;
}

#table1, #table2, #table3, #table4, #table5 {
    margin-bottom: 8px;
}

/* Tyylit pienemmille näytöille */
@media (max-width: 992px) {

    #title h1 {
        font-size: 2rem;
    }

    #winTable {
        position: fixed;
        top: 10%;
        left: 4%;
        border: 2px solid rgb(174, 0, 255);
        padding: 5px;
        padding-top: 15px;
        border-radius: 10px;
        width: 20%;
        height: 22%;;
    }
    #winTable img {
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
    }
    #winTable span {
        font-size: 1rem;
        color: rgb(174, 0, 255);
        text-shadow: 2px 2px 4px rgb(23, 61, 251);
    }

    #moneyBet {
        width: 20%;
    }

    #playBtn, #newGameBtn {
        width: 150px;
        height: 50px;
    }

    #slot-machine {
        top: 50%;
    }

    #roll1, #roll2, #roll3, #roll4 {
        margin: 10px;
        border-radius: 2px;
        border: 4px solid rgb(174, 0, 255);
        height: 120px;
        width: 110px;
        padding: 10px;
    }

    .roll-line img {
        width: 90px;
        height: 100px;
        margin: 8px;
        border: 3px solid rgb(174, 0, 255);
    }

    #lockButtons {
        position: fixed;
        display: flex;
        left: 50%;
        bottom: 15%;
        transform: translate(-50%, -50%);
        gap: 23px;
    }
    #lockButtons img {
        height: 100px;
        width: 90px;
        border-radius: 2px;
    }

    #money-bet {
        border: 2px solid rgb(174, 0, 255);
        position: fixed;
        width: 20%;
        height: 22%;
        padding: 5px;
        top: 10%;
        right: 4%;
        color: rgb(255, 255, 255);
        border-radius: 10px;
    }
    #bank, #bets, #bank span, #bets span {
        font-size: 1rem;
    }
    
    #bet img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15px;
        height: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #betBtn1:hover, #betBtn2:hover, #betBtn3:hover {
        background-color: #65bc69;
        border-radius: 5px;
        height: 50px;
    }
    #bet p {
        font-size: 0,5rem;
    }

    #play {
        bottom: 9%;
        right: 4%;
    }
    #playBtn {
        width: 120px;
        height: 50px;
    }

    #newGameBtn {
        width: 120px;
        height: 50px;
        bottom: 9%;
        left: 4%;
    }

    .winTextArea {
        height: 50px;
        width: 50%;
        bottom: 5%;
        left: 50%;
        font-size: 1,5rem;
    }
}


